# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env

# VSCode & macOS
.vscode/
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# SQLite database
sensor_data.db
